<%- include("partials/header") %>

<h1>Home Page</h1>
<h4>Your id is: <%= session.userId %> </h4>
<a href="/signup">Sign Up</a>
<a href="/signin">Sign In</a>
<a href="/signout">Sign Out</a>

<%- include("partials/footer") %>